/* ==========================================================================
map
========================================================================== */

.map {
  width: 100%;
  background-color: #fff;

  &__iframe {
    width: 100%;
    height: 200px;

    @include min-width(md) {
      height: 380px;
    }

    @include min-width(xl) {
      height: 500px;
    }
  }
}
